.pm-header {
    background-color: #e6e6e6;
    padding: 40px 0;
    text-align: center;
}
.pm-header h2 {
    color: #b30000;
    font-weight: 700;
    margin: 0;
}
.pm-header div {
    margin-top: 5px;
    font-size: 15px;
}
.pm-header span {
    color: #c50000;
}